body
{
  background-color: #114b5f;
  color: #FCFAF4;
  padding: 5% 1%;
  text-align: center;
  font-family: 'Spartan', sans-serif;
}

h1
{
  font-size: 3em;
  padding: 2%;
  text-align: center;
}

.consigne
{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px;
  border-radius: 10px;
  width: 62%;
  margin: 0 18% 6% 18%;
}

.box2
{
  padding: 0 2% 0 0;
  text-align: justify;
  width: 46em;
}

button
{
  height: 61px;
  width: 160px;
  font-size: 1em;
  border-radius: 10px;
  margin: 2%;
}

.box1
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.boutons
{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

label
{
  font-size: 1.5em;
  margin-left: 1%;
}

.fizz
{
  height: 41px;
  width: 160px;
  border-radius: 10px;
  font-size: 1.5em;
}

.resultat
{
  height: 41px;
  width: 287px;
  border: none;
  font-size: 1.5em;
  background-color: inherit;
}
